{% if register or (trainerID is not defined and displayName is not defined) %}
<script src="{{url_for('static', filename="sha3.js")}}"></script>
<script>
  function checkPasswordFormat(password){

    if(password.length<8){
      alert("your password must be at least 8 characters.");
      return false;
    }

    var rePass = /^\w+$/
    if(!rePass.test(password)){
      alert("Your password must only contain letters, numbers, or underscores.");
      return false;
    }

    var reChar = /^\w*[a-zA-Z]+\w*$/;
    if(!reChar.test(password)){
      alert("Your password must contain at least one letter");
      return false;
    }

    var reNum = /^\w*\d+\w*$/;
    if(!reNum.test(password)) {
      alert("Your password must contain at least one number");
      return false;
    }

    return true;
  }

  function hashPassword(email, password){
    //The user's email is used as a salt
    var hashedPass= password+email;
    for (var i = 0; i < 5000; i++) {
      hashedPass = CryptoJS.SHA3(hashedPass + password + email, { outputLength: 512 });
    }
    return hashedPass
  }

  function checkEmailFormat(email){

    var re = /^[A-Za-z0-9\.\+_-]+@[A-Za-z0-9\._-]+\.[a-zA-Z]{2,63}$/;
    if(!re.test(email)){
      alert("Please enter an email with a validly formatted email address.");
      return false;
    }

    return true;
  }
</script>
{% endif %}