<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Ultimate PokeDex</title>
    <link href="{{url_for('static', filename="style.css")}}" rel="stylesheet">
    <link href="{{url_for('static', filename="css/bootstrap.min.css")}}" rel="stylesheet">
    <link href="{{url_for('static', filename="favicon.ico")}}" rel="icon">
</head>
<body>
{% include 'navi.html' %}
{% include 'home.html' %}
{% include 'pokemon_list.html' %}
{% include 'trainer_profile.html' %}
{% include 'trainer_list.html' %}
{% include 'register.html' %}
{% include 'script.html' %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{url_for('static', filename="sha3.js")}}"></script>
<script src="{{url_for('static', filename="js/bootstrap.min.js")}}"></script>
</html>
