    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <a id="home_nav_button" class="navbar-brand">The Ultimate PokeDex</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li id="trainers_nav_button" class=""><a>Trainers</a></li>
                <li id="pokemon_nav_button" class=""><a>Pokemon</a></li>
              </ul>
              <ul class="nav navbar-nav">
                <form class=" navbar-form">
                  <li style="float:left;"><a id="reset_db_button" class="btn btn-danger">Reset DB</a></li>
                  <li style="float:left;"><a id="print_db_button" class="btn btn-info">Print DB</a></li>
                </form>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id="profile_nav_button" style="display:none"><a id="profile_nav_name"></a></li>
                <li id="logout_item" style="display:none">
                  <form class="navbar-form">
                    <a class="btn btn-danger">Log Out</a>
                  </form>
                </li>
                <li id="pre_auth_nav_item" style="display:none">
                  <form class="navbar-form" id="login-form">
                    <a id="register-nav-button" class="btn btn-info">Register</a>
                    <div class="form-group">
                      <input type="text" id="login-email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" id="login-password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <button id="sign_in_button" class="btn btn-success">Sign in</button>
                  </form>
                </li>
              </ul>

            </div>
          </div>
        </nav>

      </div>
    </div>
