{% extends "base.html" %}
{% block title_prefix %}Pokemon Search - {% endblock %}
{% block mainbody %}
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Species</th>
                  <th>Trainer</th>
                  <th>CP</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Charm</td>
                  <td>Charizard</td>
                  <td>Andrew</td>
                  <td>403</td>
                </tr>
                <tr>
                  <td>Charm</td>
                  <td>Charizard</td>
                  <td>Andrew</td>
                  <td>403</td>
                </tr>
              </tbody>
            </table>
          </div>
{% endblock %}