{% if register %}
<script>
  function processRegisterForm(e) {
    if (e.preventDefault){
      e.preventDefault();
    }
    var email = document.getElementById("register-email").value;
    var password = document.getElementById("register-password").value;
    var displayName = document.getElementById("register-name").value;
    var confirmPassword = document.getElementById("register-confirm-password").value;

    if(!checkEmailFormat(email)){
      return false;
    }

    if(!displayName){
      alert("Name is a required field");
      return false;
    }

    if(!password){
      alert("A password is required");
      return false;
    }
    if(!confirmPassword){
      alert("Please reenter your password in the confirm password field.");
      return false;
    }
    if(confirmPassword!=password){
      alert("the two passwords that you entered do not match.");
      return false;
    }

    if(!checkPasswordFormat(password)){
      return false;
    }

    var hashedPass = hashPassword(email,password)

    document.getElementById("register-password").value = hashedPass;

    document.getElementById("register-form").submit();

    // You must return false to prevent the default form behavior
    return false;
}

var form = document.getElementById('register-form');
if (form.attachEvent) {
    form.attachEvent("submit", processRegisterForm);
} else {
    form.addEventListener("submit", processRegisterForm);
}
</script>
{% endif %}