{% extends "base.html" %}
{% block title_prefix %}Create an Account - {% endblock %}
{% block mainbody %}
                  <form role="form" id="registerForm" action="{{url_for('register_page_submit')}}" method="POST">
                    <div class="form-group">
                      <input type="text" name="name" placeholder="Display Name" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="text" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="Confirm Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
<script>
  function processForm(e) {
    if (e.preventDefault) e.preventDefault();
      alert("You are about to submit");
      document.getElementById("registerForm").submit();



    // You must return false to prevent the default form behavior
    return false;
}
/*
var form = document.getElementById('registerForm');
if (form.attachEvent) {
    form.attachEvent("submit", processForm);
} else {
    form.addEventListener("submit", processForm);
}
*/
</script>
{% endblock %}