{% extends "base.html" %}
{% block title_prefix %}Trainer Search - {% endblock %}
{% block mainbody %}
<div class="container">
  <form role="form"  id="trainer-search-form">
    <button type="submit" class="glyphicon glyphicons-search" id="trainerName-search-button"></button>
    <div class="form-group">
      <input type="text" id="trainer-search-name" name="trainer-search-name" placeholder="Name to search for" class="form-control">
    </div>
  </form>
</div>
<div class="table-responsive container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      {% for trainer in trainers %}
        <tr>
          <td><a href="{{url_for('trainer_profile_page', trainerProfileID=trainer.trainerID)}}">{{trainer.displayName}}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
<script>
var btn = document.getElementById('trainerName-search-button');
btn.addEventListener("click", function() {
  var trainerName= document.getElementById("trainer-search-name").value;
  var newUrl = "{{url_for('trainer_list_page')}}"+"?trainerName='"+trainerName+"';";
  window.location.replace(newUrl);
});
</script>
{% endblock %}